

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  text-align: center;
}

.notFoundTitle {
  font-size: 200px;
  font-weight: 600;
  color: black;
  margin: 0;
  padding: 0;
}

.notFoundSubTitle {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
  color: black;
  padding-block-end: 60px;
}

.notFoundText {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  max-width: 56%;
  font-weight: 600;
  line-height: 22px;
  padding-block-end: 4px;
}

.linkText {
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
  color: rgba(0, 0, 0, 0.8);
}
.linkGoHome {
  color: orange;
  letter-spacing: 0.5px;
  padding-inline-start: 5px;
  &:hover {
    text-decoration: underline;
  }
}
